<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length of your password</label>
        <!-- Event binding-->
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!-- Event binding-->
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!-- Event binding-->
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!-- Event binding-->
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <!--  [ngModel]="
          !(
            length != 0 &&
            (includeUseLetters || includeUseNumbers || includeUseNumbers)
          )
        " -->

      <!-- ngModel (dataBinding)-->
      <!-- [disabled]="
      !(
        length != 0 &&
        (includeUseLetters || includeUseNumbers || includeUseNumbers)
      )
    " -->
      <!-- -->
      <!-- Property Binding down below (39-45 linija code-a)-->
      <!-- Event binding (51-53)-->
      <button [disabled]="
      !(
        length != 0 &&
        (includeUseLetters || includeUseNumbers || includeUseNumbers)
      )
    " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label>{{ yourPassword }}</label>
        <!-- String intrepolation-->
        <input class="input" name="value" [(ngModel)]="password" />
      </div>
    </div>
  </div>
</div>
